<footer class="not-prose min-h-[80px] footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
  <aside>
    <p>Copyright © {new Date().getFullYear()} - Derek J's Culdesac</p>
  </aside>
</footer>