---
import Menu from "../icons/menu.svg";
---

<nav class="w-full navbar bg-accent/20 shadow-sm not-prose">
  <a href="/" class="btn btn-ghost text-xl text-primary transform-[scale(-1,1)]"
    >&#129693;</a
  >
  <div class="dropdown dropdown-end ml-auto">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <Menu />
    </div>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
    >
      <li><a href="/">home</a></li>
    </ul>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">home</a></li>
    </ul>
  </div>
</nav>
